body {
  background-image: linear-gradient(rgb(137, 176, 174), rgb(190, 227, 219));
  text-align: center;
}

#titulo {
  text-align: center;
  margin: 0;
  padding: 0;
}

.register-container {
  width: 50%;
  margin: auto;
}

.form-container{

    text-align: left;
}

.form-group {  
  margin-left: 2em;
  margin-bottom: 1em;
}
img{
    height: 5em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;

}
.correct {
  border-color: green;
}

.correct:hover {
  outline: 2px solid green;
}
.correct:focus {
  outline: 2px solid green;
}

.incorrect {
  border-color: red;
}

.incorrect:hover {
  outline: 2px solid red;
}
.incorrect:focus {
  outline: 2px solid red;
}
